<% @articles.each do |article| %>
  <div class="row news-box">
    <div class="col-md-3">
      <img class="img-responsive img-rounded" src="http://makeameme.org/media/created/My-nigga-my-ypdrm5.jpg"/>
    </div>
    <div class="col-md-9 info">
      <h2><%= article.title %></h2>
      <p><%= article.summary %></p>
      <%= link_to "Leer más...", article_path(article) %>
    </div>
  </div>
  <br>
<% end %>