<ul class="comment-list">
    <% @comments.each do |comment| %>
        <li>
            <div class="indv-comment">
                <div class="commenter-name">
                  <p> <%= User.find(comment.user_id).email %> </p>
                </div>
                <div class="comment-text">
                    <p> <%= comment.content %> </p>
                    <span class="date sub-text comment-date"> <%= comment.created_at %> </span>
                </div>
            </div>
        </li>
    <% end %>
</ul>
<form class="form-inline comment-form" role="form">
    <input class="form-control" id="comment-input" type="text" placeholder="Escribe un comentario" />
    <button class="btn btn-primary send-comment-button" value="<%= @article_id %>">Comentar <i class="fa fa-comment"></i></button>
</form>
<br/><br/>

<script>
    $('.send-comment-button').click(function () {
        var articleId = $(this).attr("value");
        var commentText = $("#comment-input").val();
        if(commentText != "") {
          $.ajax({
            method: "post",
            url: "/articles/"+articleId+"/comment",
            async: true,
            data: {'content': commentText},
            success: function(html){
                $('.comment-list').append(html);
            }
          });
        }
    });
</script>