<div class="row tab-row">
  <div class="col-md-4 col-md-offset-4">
    <div id="enter-tabs-container">
      <ul id="enter-tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#login-tab" data-toggle="tab">Iniciar sesión</a></li>
          <li><a href="#register-tab" data-toggle="tab">Registrarse</a></li>
      </ul>
      
      <div id="enter-tabs-content" class="tab-content">
          <div class="tab-pane active" id="login-tab">
            <h4>O entra con: </h4>
            <a class="social-network-link" href=""><i class="fa fa-twitter-square fa-5x"></i></a>
            <a class="social-network-link" href=""><i class="fa fa-facebook-square fa-5x"></i></a>
          </div>
          <div class="tab-pane" id="register-tab">
            <h2>holito2</h2>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"/]').tab('show');



  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });

</script>

