<nav class="home-nav">
    <%= render 'layouts/partials/home_nav' %>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10" id="news-container"></div>

        <%= render 'layouts/partials/home_sidebar' %>
    </div>
</div>


<div id="test-container"></div>
<script>
    $.ajax({
        url: "/articles",
        async: true,
        success: function(html){
          $("#news-container").html(html);
        }
    }); 
</script>