<nav class="home-nav">
    
    <%= render 'layouts/partials/home_nav' %>
    
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-xs-8" id="news-container">
            <div class="row news-box">
                <div class="col-md-3">
                  <img class="img-md" src="http://chupacabras2.weebly.com/uploads/1/9/1/4/19142641/5184305_orig.jpg"/>
                  <img class="img-xs" src="http://2.bp.blogspot.com/_YfHJhSHtJ4w/S3CnBLFzXDI/AAAAAAAAB40/1FcRWfvSCqI/s00/loro-mas-hermoso-4_500x554.jpg"/>
                  <img class="img-xs" src="http://3.bp.blogspot.com/_YfHJhSHtJ4w/S3CnAcnT3xI/AAAAAAAAB4k/z8UoD1UMCdk/s00/loro-mas-hermoso-2_439x600.jpg"/>
                  <img class="img-xs" src="http://3.bp.blogspot.com/_YfHJhSHtJ4w/S3CnAjPqcoI/AAAAAAAAB4s/xlp6LeotRrY/s00/loro-mas-hermoso-3_439x600.jpg"/>
                  <img class="img-xs" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10371634_1068909553124543_3466181155418499309_n.jpg?oh=7b36922e82e2dffeaaaf032c16763b21&oe=55E53D66&__gda__=1436140895_9b28242f810f4aa66487ba5bf0e9560a"/>
                </div>
                
                <div class="col-md-8 info">
                  <h2>Loro loco en Palmares</h2>
                  <p>Un loro se vuelve loco en un pueblo de Palmares y ataca a 3 personas, su dueño Marvin Carranza, no lo logro controlar mientras daban un paseo por el parque central.</p>
                  <a href="#">Ver comentarios</a>
                </div>
                
                <div class="col-md-1">
                  <button class="btn btn-default" id="like-button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                  <button class="btn btn-default" id="more-button"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                </div>
            </div>
          </div>
        
        <%= render 'layouts/partials/home_sidebar' %>
        
    </div>
</div>