<nav class="home-nav">
    
    <%= render 'layouts/partials/home_nav' %>
    
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10" id="news-container">
            <div class="row news-box">
                <div class="col-md-3">
                  <img class="img-responsive img-rounded" src="http://chupacabras2.weebly.com/uploads/1/9/1/4/19142641/5184305_orig.jpg"/>
                </div>
                
                <div class="col-md-9 info">
                  <h2>Loro loco en Palmares</h2>
                  <p>Un loro se vuelve loco en un pueblo de Palmares y ataca a 3 personas, su dueño Marvin Carranza, no lo logro controlar mientras daban un paseo por el parque central.</p>
                  <a href="#">Leer mas...</a>
                </div>
            </div>
          </div>
        
        <%= render 'layouts/partials/home_sidebar' %>
        
    </div>
</div>