/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require rails_bootstrap_forms
*/
 
$navbar-default-bg: #031728;
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Start of CSS code
* {
    box-sizing: border-box;
}

html, body { 
    height:100%;
}

.alert {
    margin: 0 !important;
}

.clear {
    clear:both;
}

header h1 a:hover {
    color: #47AAFF;
}

main {
    min-height: calc(100% - 110px);
}

#logo {
    margin: 10px 10px 10px 0px;
    float:left;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.center {
    text-align: center;
}

#footerNav {
	color: white;
	font-size: 120%;
	height: 55px;
	margin:0;
	border: none;
	border-radius: none;
}

#footerCopyright {
    margin-top: 20px;
}

#main-top-bar {
    margin-bottom: 0px;
}

#current-user-nav {
    margin-right: 40px;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
    float: right;
    clear: both;
    margin-right: 10px;
}
