/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require rails_bootstrap_forms
*/
 
$orange-red: #D96459;
$red: #8C4646;
$navbar-default-bg: #031728;
$navbar-default-color: $red;
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Start of CSS code

html, body { 
    height:100%;
}

header h1 a:hover {
    color: #47AAFF;
}

main {
    min-height: calc(100% - 110px);
}

#logo {
    margin: 10px 10px 10px 0px;
    float:left;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.center {
    text-align: center;
}

#footerNav {
	color: white;
	font-size: 120%;
	height: 55px;
	margin:0;
	border: none;
	border-radius: none;
}

#footerCopyright {
    margin-top: 20px;
}

#main-top-bar {
    margin-bottom: 0px;
}