.slider-box {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

.article-link {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.summary-container {
    height: 300px;
}

#comment-section {
    display: none;
    width: 100%;
    margin-bottom: 60px;
    padding: 10px;
    background-color: #E8E8E8;
    border-radius: 32px;
}

.comments-column {
    width: 100%;
    margin-bottom: 20px;
}

.show-comments-button {
    margin: 0 auto;
    clear: both;
}

#comments {
    width: 100%;
}

.show-article-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.article-category {
    float: right;
    font-size: 16px;
}

.justify-text {
    text-align: justify;
    margin-right: 10px;
}