.final-button {
    float: right;
}

#body-length {
    float: right;
}

#summary-length {
    float: right;
}

textarea {
    resize: none;
}

.no {
    font-size: 68px;
    color: RED;
    text-align: center;
}