<div class="col-md-2 col-xs-4" id="sidebar">
    <ul class="nav nav-pills nav-stacked" id="sidebar-nav">
        <li class="active"><a href="#">Todas</a></li>
        <li><a href="#">Mundo</a></li>
        <li><a href="#">Costa Rica</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Entretenimiento</a></li>
        <li><a href="#">Tecnologia</a></li>
        <li><a href="#">Ciencia</a></li>
        <li><a href="#">Salud</a></li>
        <li><a href="#">Negocio</a></li>
    </ul>
</div>